<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/static/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
        rel="stylesheet">


</head>
<title>Iluminator</title>
</head>

<body class="p-20 flex  flex-col md:flex-row items-center justify-center h-screen font-['JetBrains_Mono'] text-white">
    <img src="/static/img/cassar.png" alt="Iluminator Logo"
        class="w-100 object-contain mb-10 animate-[float_3s_ease-in-out_infinite] hover:scale-105 transition duration-300">
    <div class="flex flex-col items-center justify-center gap-2">
        <h1 class="text-5xl md:text-7xl text-center font-['Alfa_Slab_One'] text-shadow-lg text-outline-shadow">
            ILUMINATOR
        </h1>
        <h2 class="text-2xl md:text-4xl text-shadow-lg mb-10">&lt;O Akinator da ILUM&gt;</h2>
        <a href="/game">
            <button
                class="w-80 px-6 py-3 bg-[#b76e22] text-white text-xl rounded-full shadow-lg hover:scale-120 hover:cursor-pointer hover:bg-[#cf761d] transition duration-300">
                JOGAR
            </button>
        </a>

    </div>
</body>

</html>